<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Template</title>
    <link rel="stylesheet" href="css/main.css" />

</head>

<body>
    <div class="container">
        <header class="page-header">
            <h1>Título página</h1>
        </header>
        <nav class="page-nav">
            <ul>
                <li>
                    <a href="#">Menu 1</a>
                </li>
                <li>
                    <a href="#">Menu 2</a>
                </li>
                <li>
                    <a href="#">Menu 3</a>
                </li>
                <li>
                    <a href="#">Menu 4</a>
                </li>
            </ul>
        </nav>
        <main class="page-main">
            <section class="page-section">
                <div class="grid">
                    <div class="col col-tb-4">
                        <h2>Sección 1</h2>
                    </div>
                    <div class="col col-tb-8">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, autem doloribus possimus eveniet
                            quam fugiat natus unde. Perferendis distinctio iste rerum magni corrupti architecto consequuntur
                            provident reprehenderit, nulla, atque odit recusandae. Deleniti nisi facere laborum eveniet eum
                            non amet corporis, architecto aut tempora necessitatibus magnam. Sunt facere et, vero omnis error
                            quidem excepturi, laudantium odit molestias magnam aliquam recusandae officia beatae distinctio
                            laboriosam cumque adipisci commodi voluptatum esse sint quisquam totam quaerat. Aspernatur vero
                            non, sed eveniet perspiciatis vel quia doloribus adipisci laudantium explicabo hic, maiores corporis
                            omnis reiciendis, expedita molestias laboriosam nobis. Veniam earum inventore reprehenderit velit
                            cumque distinctio.</p>
                        <p>Laborum officia eum eligendi voluptatibus. Fugiat, nobis ipsa totam accusamus fugit earum inventore
                            molestiae ratione esse voluptatum facilis minima illo eum corrupti laboriosam rem dignissimos
                            nesciunt possimus sit aut unde labore doloremque cupiditate saepe! Ut facere voluptatem dolorum
                            rerum deleniti distinctio unde laborum qui, ipsum quo libero placeat laudantium eius quisquam
                            et neque magni. Saepe accusantium, excepturi rerum error distinctio sit officia ab autem aliquam
                            aut non officiis reprehenderit corrupti iure ipsa, cumque numquam nam possimus ratione consequatur
                            nemo odit eaque suscipit. Dolores eaque aut ratione voluptatem eos minima omnis officia! Quis
                            at aliquam quas aut blanditiis tempore officia omnis!</p>
                    </div>
                </div>
            </section>
        </main>
        <footer class="page-footer">
            <p>Todos los derechos reservados | eduMac2018 | Juan Torres</p>
        </footer>
    </div>
    <div id="js">
        <script src="js/lib/jquery-3.3.1.min.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>

</html>